* {
  box-sizing: border-box;
  background-color: #89cff0;
  font-family: "Indie Flower", cursive;
}
header {
  text-align: center;
  padding-top: 20px;
}
h1 {
  color: pink;
  font-size: 60px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.game-specifics {
  width: 500px;
  height: 300px;
  position: relative;
  left: 100px;
}
.volume-container {
  position: relative;
  bottom: 50px;
  left: 130px;
}
label {
  font-size: 20px;
  position: relative;
  bottom: 8px;
  right: 8px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  /* border: solid 10px pink; */
  border-radius: 20px;
  padding: 20px;
  position: relative;
  bottom: 60px;
}
.start-button,
.restart-button {
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
}
.start-button:hover {
  background-color: pink;
}
.restart-button:hover {
  background-color: pink;
}
.game-rules {
  border: 10px solid pink;
  border-radius: 20px;
  width: 500px;
  height: 600px;
  color: black;
  padding: 20px;
  font-size: 20px;
  position: relative;
  bottom: 50px;
}

.game-rules h2 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 700px;
  width: 700px;
  border: solid 30px pink;
  border-radius: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
.lives-wrapper {
  position: relative;
  top: 20px;
  left: 320px;
  font-size: 25px;
}
span {
}
.result-wrapper {
  position: relative;
  right: 320px;
  top: 25px;
  bottom: 50px;
  font-size: 25px;
}
.river {
  background-size: cover;
  background-color: rgb(74, 146, 241);
}
#wave {
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
}
.free {
  background-color: green;
}
.obstacle {
  background-image: url(./images/grizzly-bear.png);
  background-repeat: none;
  background-size: cover;
  background-color: green;
}

.rubber-dingy {
  background-image: url(./images/rubber-dingy.png);
  background-repeat: none;
  background-size: cover;
  background-color: rgb(74, 146, 241);
}
.puppy-snatcher {
  background-image: url(./images/horror-snatcher.png);
  background-repeat: none;
  background-size: cover;
}
.puppy {
  background-image: url(./images/puppy1.png);
  background-size: cover;
  z-index: 1;
}
.kennel {
  background-image: url(./images/kennel.png);
  background-repeat: none;
  background-size: cover;
  background-color: green;
}
.puppy-image {
  position: absolute;
  top: 70px;
  left: 100px;
  animation: rotate 1s infinite alternate;
}
.puppy-image-two {
  position: absolute;
  right: 100px;
  top: 85px;
  animation: rotate 1s infinite alternate;
}
@keyframes rotate {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
